@import "../fonts/stylesheet.css";


/*********************************
префиксы для flex-контейнера
*********************************/

.d-flex {
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
.inline-flex {
    display: inline-flex;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
}
.flex-column {
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
}
.flex-wrap {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}
.flex-flow-column {
    flex-flow: column wrap;
    -webkit-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
}
.justify-between {
    justify-content: space-between;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
}
.justify-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.align-content-around {
    align-content: space-around;
    -webkit-align-content: space-around;
    -ms-flex-line-pack: distribute;
}
.align-items-center{
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}


body {
    font-size: 16px;
    font-family: "M.Video";
    font-weight: normal;
    color: rgb(255, 255, 255);
    line-height: 1.75;
    background: #1d1d1d;
}
img {
    max-width: 100%;
}
.big__wrap {
    width: 100%;
    max-width: 2000px;
    margin-left: auto;
    margin-right: auto;
    /*background: url("../img/Warstwa3.png") no-repeat;*/
    background-position-x: center;
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
}
.text__division {
    font-size: 15px;
    font-family: "M.Video";
    color: rgb(255, 255, 255);
    line-height: 1.867;
    text-align: left;
    -moz-transform: matrix( 1.0015778812604,0,0,1.0015778812604,0,0);
    -webkit-transform: matrix( 1.0015778812604,0,0,1.0015778812604,0,0);
    -ms-transform: matrix( 1.0015778812604,0,0,1.0015778812604,0,0);
    padding-left: 0;
    padding-right: 0;
}
.accent__block {
    color: #ad7835;
}
header {
    padding-top: 313px;
    padding-bottom: 106px;
    background: url("../img/header-new-bg1.jpg") no-repeat;
}
.header__title__block__wrap {
    width: 100%;
}
.header__block__cont {
    width: 100%;
    max-width: 946px;
    height: 452px;
    padding: 0;
    background: url("../img/header-prostocat.png") no-repeat;
    background-size: contain;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 200px;
}
.pre__title__block {
    height: 120px;
}
.post__text__line{
    display: block;
    width: 92px;
    height: 4px;
    background-color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
}


.pre__title__block__text {
    font-size: 24px;
    font-family: "M.Video";
    color: #fff;
    line-height: 1.6;
    text-align: center;
    margin-bottom: 0;
}
.title__block {
    height: 150px;
}
.header__title {
    display: block;
    font-size: 10rem;
    font-family: "Styrene A LC";
    color: rgb(255, 255, 255);
    line-height: 0.3;
    text-align: center;
    width: 100%;
}

.post__title__block {

}
.post__title__block__text {
    font-size: 24px;
    font-family: "M.Video";
    color: #fff;
    text-transform: uppercase;
    line-height: 2.083;
    text-align: center;
    -moz-transform: matrix( 1.0015778812604,0,0,1.0015778812604,0,0);
    -webkit-transform: matrix( 1.0015778812604,0,0,1.0015778812604,0,0);
    -ms-transform: matrix( 1.0015778812604,0,0,1.0015778812604,0,0);
}
.post__title__line {
    background-color: rgb(173, 120, 53);
    width: 93px;
    height: 4px;
}


main {
    background: url("../img/main-bg2.jpg") repeat-y;
    padding-bottom: 400px;
}
.about__project__wrap {
    padding-top: 126px;
    padding-bottom: 95px;
}
.about__project__block {
    max-width: 1310px;
    padding: 0;
    background-color: rgb(55, 55, 55);
    -webkit-box-shadow: 0 0 80px 0 rgba(43, 43, 43, 0.3);
    -moz-box-shadow: 0 0 80px 0 rgba(43, 43, 43, 0.3);
    box-shadow: 0 0 80px 0 rgba(43, 43, 43, 0.3);
}
.about__project__description__block {
    padding-left: 74px;
    padding-top: 60px;
    padding-bottom: 30px;
    padding-right: 50px;
}
.about__project__title {
    font-size: 58px;
    font-family: "M.Video";
    color: rgb(173, 120, 53);
    text-transform: uppercase;
    line-height: 1.2;

}
.about__project__text__block {
    padding-top: 16px;
}
.about__project__img__block {
    padding: 0;
}
.about__project__img__block img {
    position: relative;
    width: 115%;
    max-width: 115%;
}
.button__link {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(107, 73, 34);
    width: 186px;
    height: 62px;
    font-size: 16px;
    font-family: "M.Video";
    color: rgb(173, 120, 53);
    font-weight: bold;
    line-height: 1.75;
    text-align: center;
    text-transform: uppercase;
}
.button__link__center {
    margin-left: auto;
    margin-right: auto;
}
/*whois manuls block*/
.whois__manuls__wrap {
    padding-top: 40px;
    padding-bottom: 0px;
}
.whois__manuls__block {
    max-width: 1315px;
}
.whois__manuls__block__item:nth-child(2) {
    margin-top: 85px;
    padding-left: 30px;
    padding-right: 30px;
}
.whois__manuls__block__item:first-child {
    padding-left: 0px;
    padding-right: 75px;
}
.whois__manuls__block__item:last-child {
    padding-right: 0px;
    padding-left: 75px;
}
.whois__manuls__block__title {
    width: 550px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 70px;
}

.whois__manuls__title {
    font-size: 3.5em;
    font-family: "M.Video";
    color: rgb(173, 120, 53);
    line-height: 1.355;
    text-align: left;
}
.whois__manuls__item__img {
    background-color: rgb(55, 55, 55);
    width: 340px;
    height: 228px;
    position: relative;
    margin-bottom: 65px;
}
.whois__manuls__item__img img {
    display: block;
    position: relative;
    top: 20px;
    left: 29px;
    max-width: 100%;
    -webkit-box-shadow: 0px 0px 80px 0px rgba(43, 43, 43, 0.3);
    -moz-box-shadow: 0px 0px 80px 0px rgba(43, 43, 43, 0.3);
    box-shadow: 0px 0px 80px 0px rgba(43, 43, 43, 0.3);
}
.whois__manuls__item__title__block {
    border-bottom: 2px solid rgb(173, 120, 53);
    margin-bottom: 10px;
}

.whois__manuls__item__title {
    font-size: 20px;
    font-family: "M.Video";
    color: rgb(173, 120, 53);
    line-height: 1.4;
    text-align: left;

}

/*Gallery manuls block*/
.gallery__manuls__wrap {
    padding-top: 112px;
    padding-bottom: 70px;
}
.gallery__manuls__block {
    max-width: 1440px;
}
.gallery__manuls__title__wrap {
    margin-left: 88px;
    margin-bottom: 30px;
}
.manuls__section__title {
    font-size: 55px;
    font-family: "M.Video";
    color: rgb(173, 120, 53);
    line-height: 1.355;
    text-align: left;
}
.gallery__manuls__block__items {
    max-width: 1440px;
    margin-bottom: 90px;
}
.gallery__manuls__items__col {
    padding: 0;
}
.gallery__manuls__items__col:first-child {
    text-align: right;
    padding-top: 80px;
}
.gallery__manuls__item__img {
    padding: 15px;
}

/*what__dangeros__wrap*/

.what__dangeros__wrap {
    margin-top: 90px;
    margin-bottom: 168px;
}
.what__dangeros__block {
    background: #373737;
    max-width: 1440px;
}
.what__dangeros__block__img {
    margin-top: -50px;
    margin-bottom: -50px;
    text-align: center;
    position: relative;
}
.what__dangeros__block__img__banner {
    position: absolute;
    right: -7%;
    bottom: -39px;
}
.what__dangeros__block__description {
    padding-top: 50px;
}
.what__dangeros__title__wrap {
    margin-bottom: 40px;
}
.what__dangeros__list {
    padding-left: 0px;
    font-size: 16px;
}
.what__dangeros__list li {
    list-style: none;
}
.what__dangeros__list li:before {
    content: '';
    display: inline-block;
    position: relative;
    top: 3px;
    width: 15px;
    height: 15px;
    background: url("../img/iconmonstr-cat-4.png");
}
.what__dangeros__block.what__dangeros__block2 {
    margin-top: 220px;
}
.what__dangeros__block__description2 {
    padding-top: 30px;
}
.what__dangeros__block__description2 .post__title__line{
    margin-bottom: 20px;
}
.what__dangeros__text__wrap2 {
    padding-left: 85px;
}
.what__dangeros__text__wrap2 .text__division {
    font-size: 30px;
    font-family: "M.Video";
    color: rgb(255, 255, 255);
    line-height: 1.667;
    text-align: left;
}
.what__dangeros__block__img2 {
    margin-top: -30px;
    margin-bottom: -30px;
}
.what__dangeros__block__img2 img{
    width: 104%;
    max-width: 104%;
}
/*  our donation  */

.our__donation__wrap {
    background: url("../img/our-donation-bg1.jpg") no-repeat;
    background-position: center;
    padding-top: 350px;
    padding-bottom: 100px;
}
.our__donation__block {
    max-width: 1440px;
}
.our__donation__header__text {
    font-size: 2.7em;
    font-family: "M.Video";
    color: rgb(255, 255, 255);
    line-height: 1.068;
    text-align: center;
}
.our__donation__icon__block {
    text-align: center;
    padding-top: 70px;
    padding-bottom: 55px;
}
.our__donation__title__block {
    padding-bottom: 80px;
}
.our__donation__title__text {
    font-size: 5.5em;
    font-family: "M.Video";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.068;
    text-align: center;
}
.our__donation__footer__block {
    width: 100%;
    max-width: 1018px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 85px;
    padding-top: 30px;
    background-color: rgb(55, 55, 55);
    -webkit-box-shadow: 0px 0px 80px 0px rgba(43, 43, 43, 0.3);
    -moz-box-shadow: 0px 0px 80px 0px rgba(43, 43, 43, 0.3);
    box-shadow: 0px 0px 80px 0px rgba(43, 43, 43, 0.3);
}


.our__donation__footer__text {
    font-size: 1.4em;
    font-family: "M.Video";
    color: rgb(255, 255, 255);
    line-height: 3;
    text-align: left;
    max-width: 1333px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
}

.our__donation__footer__text p {
    margin-bottom: 0;
}
.our__donation__footer__text p span{
    margin-right: 10px;
}

/*  beautiful__children__block  */
.beautiful__children__wrap {
    padding-top: 140px;
    padding-bottom: 80px;
}
.beautiful__children__block {
    padding-left: 0px;
    padding-right: 0px;
    max-width: 1440px;
}
.beautiful__children__block__content {
    background-color: rgb(55, 55, 55);
    position: absolute;
    width: 100%;
    max-width: 1308px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 60px;
}
.beautiful__children__block__content .cat__paw__img {
    position: absolute;
    width: 110px;
}
.beautiful__children__logo__block {
    text-align: center;
    padding-bottom: 65px;
}
.beautiful__children__text__block {
    font-size: 2.1em;
    font-family: "M.Video";
    font-weight: 300;
    width: 100%;
    max-width: 833px;
    margin-left: auto;
    margin-right: auto;
    color: rgb(255, 255, 255);
    line-height: 2.4;
    text-align: center;

}
.cat__paw__img {
    position: absolute;
}
.beautiful__children__block__content .cat__paw__img1 {
    top: -20px;
    right: 181px;
    width: 70px;
}
.cat__paw__img2 {
    top: 10px;
    left: 220px;
}
.cat__paw__img3 {
    top: 343px;
    left: -95px;
}
.cat__paw__img4 {
    bottom: -54px;
    right: -41px;
}
.beautiful__children__block__content .cat__paw__img5 {
    bottom: -34px;
    width: 90px;
}
.cat__paw__img6 {
    right: 52px;
    top: 45%;
    width: 80px;
}

/*histori__one__manul__wrap*/

.histori__one__manul__wrap {
    padding-top: 80px;
    padding-bottom: 90px;
}
.histori__one__manul__block {
    width: 662px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 80px;
    padding-left: 50px;
}
.histori__one__manul__title {
    font-family: "M.Video";
    font-size: 3em;
    color: rgb(255, 255, 255);
    line-height: 1.355;
    text-align: left;
    font-weight: 300;
}

/*  help__manuls__block */
.help__manuls__wrap {
    padding-top: 90px;
}
.help__manuls__block {
    background: #373737;
    max-width: 1440px;
}
.help__manuls__block__img {
    margin-top: -50px;
    margin-bottom: -50px;
    position: relative;
    text-align: center;
}
.help__manuls__block__description {
    padding-top: 50px;
    padding-left: 60px;
}
.help__manuls__title__wrap {
    margin-bottom: 40px;
}
.help__manuls__section__title {
    font-size: 2.7em;
    font-family: "M.Video";
    color: rgb(173, 120, 53);
    line-height: 1.355;
    text-align: left;
}
.help__manuls__text__wrap {
    padding-bottom: 30px;
    padding-top: 15px;
    position: relative;
}
.help__manuls__text__line {
    font-size: 34px;
    font-family: "M.Video";
    color: rgb(255, 255, 255);
    line-height: 1.407;
    text-align: left;
}
.help__manuls__button__block {
    padding-top: 50px;
    border-top: 1px solid rgba(255, 255, 255, 0.302);
    margin-right: 65px;
}
.lapa__manul__block {
    position: absolute;
}
.lapa__manul__block1 {
    top: 42px;
    right: 35px;
}
.lapa__manul__block2 {
    right: -34px;
    top: 0px;
}

/* сaught__trap__block__content */

.сaught__trap__wrap {
    padding-top: 80px;
}
.сaught__trap__block__content {
    width: 100%;
    max-width: 1308px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
}
.сaught__trap__banner__block {
    position: absolute;
    left: 383px;
    bottom: -30px;
}
.сaught__trap__img__block2 {
    position: relative;
    right: -430px;
    margin-top: -230px;
}
.сaught__trap__block__content .cat__paw__img1 {
    right: 419px;
    left: unset;
    width: 65px;
    top: 80px;
}
.сaught__trap__block__content .cat__paw__img2 {
    bottom: 188px;
    left: 290px;
    width: 65px;
    top: unset;
}